.header {
  background-color: rgb(247, 213, 219);
  padding: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.2rem;
  color: #4a4a4a;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-items {
  display: flex;
  flex: 1;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.nav-items a {
  color: #4a4a4a;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-items a:hover {
  color: #d24d57;
}

.logout-btn {
  background: none;
  border: none;
  color: #4a4a4a;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-items {
    flex-direction: column;
    width: 100%;
  }

  .nav-items a, .logout-btn {
    width: 100%;
    text-align: center;
  }
}
